:root {
  --orange: hsl(26, 100%, 55%);
  --pale_orange: hsl(25, 100%, 94%);
  --dark_blue: hsl(220, 13%, 13%);
  --Dark_grayish_blue: hsl(219, 9%, 45%);
  --Grayish_blue: hsl(220, 14%, 75%);
  --Light_grayish_blue: hsl(223, 64%, 98%);
  /* - Very dark blue: hsl(220, 13%, 13%)
- Dark_grayish_blue: hsl(219, 9%, 45%)
- Grayish_blue: hsl(220, 14%, 75%)
- Light_grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  border: none;
  outline: none;
}
header {
  background-color: white;
  width: 90%;
  margin: 15px auto 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 40px;
  height: 40px;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
}
.collection {
  width: 60%;
  height: calc(100vh - 90px);
  padding: 0 20px;
  background-color: #fff;
  line-height: 2.5;
  position: absolute;
  left: -100%;
  transition: 0.3s;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px;
}
#close_SVG {
  margin: 25px 0;
  padding: 10px 5px;
}
#menu_SVG {
  height: 80%;
  transition: 0.3s;
}
#menu_SVG:hover,
#close_SVG:hover {
  background-color: #b2b2b2;
}
.list_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
}
.main_img {
  position: relative;
}

.page {
  height: calc(100vh - 90px);
}
.image {
  position: relative;
  height: 380px;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.image .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
}
#main_image {
  cursor: pointer;
}
.image .btns button {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.none {
  display: none;
}
.text .company_name {
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;
}
.text {
  margin: 20px;
}
.text h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}
.text .descrption {
  line-height: 1.7;
  color: var(--Dark_grayish_blue);
}
.text .price {
  margin: 15px 0;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text .now_price {
  font-weight: bold;
  font-size: 26px;
}
.text .discount {
  background: var(--pale_orange);
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--orange);
}
.text .old_price {
  color: var(--Dark_grayish_blue);
}
.text .check {
  font-size: 22px;
  font-weight: bold;
}
.text .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  background-color: var(--Light_grayish_blue);
  padding: 10px 0;
  border-radius: 10px;
}
.text .quantity button {
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.text .check_out button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--orange);
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
#cart_svg {
  cursor: pointer;
}
.cart {
  position: relative;
}
.cart .cart_page {
  display: none; /* be al js hzbtha*/
  position: absolute;
  right: -100%;
  top: 165%;
  width: 320px;
  min-height: 200px;
  background: white;
  z-index: 2;
  border-radius: 10px;
  color: var(--Dark_grayish_blue);
  box-shadow: 0 0 4px 0 black;
}
.cart_page h1 {
  margin: 0;
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid var(--Grayish_blue);
  color: black;
}
.cart_page .details {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  padding: 0 20px;
}
.cart_page .details .order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
  display: none; /*hzbto be al js*/
}
.cart_page .details .order img {
  width: 70px;
  height: 70px;
}
.cart_page .details .order .order_text {
  text-align: left;
  line-height: 1.8;
}
.cart_page .check_out {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  border-radius: 10px;
}
#total_price {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
}
#delete_svg {
  cursor: pointer;
}
#added_text {
  display: none; /*js*/
}
.light_container {
  display: none; /*hzbtha be js*/
  z-index: 5;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #000000a3;
  align-items: center; /*dol 34an lma a5leh flex be al js al7agat deh t4t8l 3leh */
  justify-content: center;
}
.light_container .main_img {
  width: 410px;
  height: 410px;
}
.light_container .image {
  height: auto;
}
.light_container .close {
  text-align: end;
  margin-bottom: 15px;
  cursor: pointer;
}
.light_container .small_images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 410px;
  margin: 20px 0;
}
@media (min-width: 800px) {
  /*800px or more*/
  header {
    margin: 15px auto;
    border-bottom: 1px solid var(--Dark_grayish_blue);
  }
  #menu_SVG {
    display: none;
  }
  .page {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    gap: 100px;
  }
  .page .main_img {
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
  }
  .page .image {
    height: auto;
    flex-grow: 1;
  }
  .page .box {
    width: 100px;
    height: 100px;
  }
  img {
    border-radius: 10px;
  }
  .page .small_images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    gap: 20px;
  }
  /* 
   */
  .text {
    margin: 35px 0px;
  }
  .text h1 {
    font-size: 40px;
    margin: 25px 0;
  }
  .text .descrption {
    line-height: 2;
  }
  .text .price {
    margin: 25px 0;
    font-size: 24px;
    align-items: stretch;
    flex-direction: column;
  }
  .text .now_price {
    font-size: 30px;
  }
  .text .discount {
    background: var(--pale_orange);
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--orange);
  }
  .text .check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .text .quantity,
  .text .check_out {
    width: 50%;
  }
}
@media (max-width: 800px) {
  /* 0px to 800px */
  .list_bar {
    display: none;
  }
  .main_img img {
    max-height: 380px;
  }
  .light_container .main_img {
    height: auto;
    max-width: 100%;
  }
  .light_container .image {
    width: 300px;
    height: auto;
  }
}
